*{
    padding: 0;
    margin: 0;
}

body{
    background-color: lightgreen;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    border: 4px solid black;
    width: 400px;
    height: 400px;
    background-color:cadetblue;
    
}

#input{
    margin: 1rem;
    width: 200px;
    height: 20px;
}


#btn{
    border: 2px solid black;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    background-color: lightcoral;
}

#img{
    padding: 1rem;
    margin: auto;
    display: none;
    width: 150px;
    height: 150px;   
}

#img:hover{
    scale: 1.5;
}

